{{template "partials/header.html" .}}

<h2 class="screen-reader-only">Feed Items</h2>

<ul class="feed-items">
	{{range .FeedItems}}

	<li class="feed-item">
		<div aria-hidden="true" class="feed-icon" title="{{.Feed.Title}}">
			{{if .Feed.Image}}
				<img src="{{.Feed.Image}}" alt="Icon for the {{.Feed.Title}} feed">
			{{else}}
				<span class="letter-icon">{{firstletter .Feed.Title}}</span>
			{{end}}
		</div>
		<div>
			<h3 class="feed-title"><a href="{{.Link}}">{{.Title}}</a></h3>
			<small class="feed-meta">
				<time datetime="{{.Published}}">{{timeago .Published}}</time>
				{{if .Author}}
					<span>{{.Author}}</span>
				{{end}}
				<a href="{{urlbase .Link}}">{{urlhost .Link}}</a>
			</small>
			<div class="feed-content">
				<p class="feed-description">{{truncate .SimpleDescription 420}}</p>
				{{if .Image}}
					<div class="feed-image">
						<a href="{{.Link}}"><img src="{{.Image}}" alt="Image for the feed item"></a>
					</div>
				{{end}}
			</div>
		</div>
	</li>

	{{end}}
</ul>

<nav class="page-navigation">
	<div>
		{{if gt .Page 1}}
			<a class="page-previous" href="?page={{dec .Page}}">Previous Page</a>
		{{end}}
	</div>

	<div>
		{{if lt .Page .TotalPages}}
			<a class="page-next" href="?page={{inc .Page}}">Next Page</a>
		{{end}}
	</div>
</nav>

{{template "partials/footer.html" .}}
