/* Variables */

:root {
	--border-radius-image: 2px;
	--color-background: #180A0A;
	--color-header: #271E2B;
	--color-link: #C60A72;
	--color-link-visited: #711A75;
	--color-text: #E8E1EA;
	--color-text-muted: #E5B8F4;
	--spacing-large: 24px;
	--spacing: 12px;
	--spacing-small: 6px;
}

/* Elements */

a {
	color: var(--color-link);
}

a:visited {
	color: var(--color-link-visited);
}

body {
	background: var(--color-background);
	color: var(--color-text);
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 13pt;
	margin: 0;
}

footer {
	color: var(--color-text-muted);
	font-size: 10pt;
	font-style: italic;
	margin: 2em 2em 5em;
	text-align: center;
}

footer a,
footer a:visited {
	color: inherit;
}

h1 {
	color: var(--color-highlight);
	font-size: 22pt;
	margin: 0;
}

h1 a, h1 a:visited {
	color: inherit;
	text-decoration: none;
}

h1 svg {
	height: 1em;
	position: relative;
	top: 0.1em;
}

h2 {
	margin: var(--spacing-large);
}

header {
	align-items: center;
	background: var(--color-header);
	display: flex;
	justify-content: space-between;
	padding: var(--spacing-large);
}

img {
	border-radius: var(--border-radius-image);
	max-width: 100%;
}

p {
	margin: 0;
}

/* IDs */

#feed-header {
	margin: var(--spacing-large);
}

#feed-header h2 {
	margin: 0;
}

#feed-header .feed-icon {
	margin-bottom: var(--spacing);
	width: 100%;
}

#menu {
	display: block;
	height: 32px;
}

#menu a, #menu a:visited {
	color: var(--color-text);
	display: block;
}

#menu a:hover {
	color: var(--color-link-visited);
}

#menu li:not(#menu-feeds) {
	display: none;
}

#menu span {
	display: none;
}

#menu svg {
	height: 32px;
	width: 32px;
}

#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Classes */

.feed-icon {
	flex: 0 0 32px;
	margin-right: var(--spacing);
}

.feed-image {
	margin-top: var(--spacing);
}

.feed-item {
	display: flex;
}

.feed-item img {
	display: block;
	width: 100%;
}

.feed-icon .letter-icon {
	background: var(--color-text-muted);
	border-radius: var(--border-radius-image);
	color: var(--color-background);
	display: block;
	font-size: 13pt;
  	font-weight: bold;
  	height: 32px;
  	line-height: 32px;
  	text-align: center;
	width: 32px;
}

.feed-items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.feed-items li {
	border-bottom: 1px solid var(--color-header);
	padding: var(--spacing);
}

.feed-items li:last-child {
	border-bottom: none;
}

.feed-meta {
	color: var(--color-text-muted);
	display: block;
	line-height: 1.35em;
	margin: var(--spacing-small) 0;
}

.feed-meta > *::after {
	content: " · ";
}

.feed-meta > *:last-child::after {
	display: none;
}

.feed-meta a {
	color: inherit;
	text-decoration: none;
}

.feed-meta a:hover {
	text-decoration: underline;
}

.feed-title {
	margin: -0.2em 0 0;
}

.feed-title a {
	text-decoration: none;
}

.feed-title a:hover {
	text-decoration: underline;
}

.feeds {
	list-style: none;
	margin: 0 var(--spacing-large);
	padding: 0;
}

.feeds a {
	border-radius: 1em;
	color: inherit;
	display: flex;
	padding: var(--spacing-large);
	text-decoration: none;
}

.feeds a:hover {
	background: var(--color-header);
}

.feeds .feed-description {
	margin: 0.35em 0 0;
}

.feeds .feed-icon img {
	width: 32px;
}

.pagination {
	display: flex;
	font-weight: bold;
	justify-content: space-between;
	padding: 1.5em;
}

.pagination a {
	color: var(--color-link);
	display: block;
	text-decoration: none;
}

.pagination a:hover {
	color: var(--color-text);
}

.pagination .page-next::after {
	content: " >";
}

.pagination .page-previous::before {
	content: "< ";
}

.screen-reader-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Portrait tablet size */

@media (min-width: 768px) {
	#feed-header {
		display: flex;
		flex-direction: row-reverse;
	}

	#feed-header .feed-icon {
		flex: 0 0 20%;
	}

	#feed-header .feed-info {
		flex: 1;
	}

	.feed-content {
		display: flex;
	}

	.feed-description {
		order: 2;
	}

	.feed-image {
		flex: 0 0 30%;
		margin-right: var(--spacing);
		margin-top: 0;
		order: 1;
	}

	.feed-items li {
		padding: var(--spacing-large);
	}
}

/* Landscape tablet size */

@media (min-width: 1024px) {
	.feed-items .feed-image {
		flex: 0 0 25%;
	}
}

/* Desktop size */

@media (min-width: 1280px) {
	header {
		box-sizing: border-box;
		display: block;
		flex: 1 1 auto;
		min-height: 100vh;
	}

	header > * {
		margin: 0 0 0 auto;
		max-width: 240px;
	}

	main {
		flex: 3 1 auto;
	}

	main > * {
		max-width: 1080px;
	}

	#container {
		display: flex;
		justify-content: center;
	}

	#menu {
		font-size: 10pt;
		height: auto;
		margin-top: var(--spacing);
	}

	#menu a {
		border-radius: var(--spacing);
		overflow: hidden;
		padding: var(--spacing);
		text-decoration: none;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	#menu a:hover,
	#menu .current a {
		background: var(--color-background);
		color: var(--color-text);
	}

	#menu li:not(#menu-feeds) {
		display: block;
	}

	#menu span {
		display: inline;
	}

	#menu svg,
	#menu .feed-icon {
		display: inline-block;
		height: 1em;
		margin-right: 0.5em;
		position: relative;
		top: 0.1em;
		width: 1em;
	}

	#menu .feed-icon .letter-icon {
		display: inline-block;
		font-size: 8pt;
		height: 100%;
		line-height: 1.3em;
		position: relative;
		top: -0.2em;
		width: 100%;
	}
}
