<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{.Config.Description}}">

    <title>{{.Config.Title}}</title>

    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>

<body>
    <header>
        <h1>{{.Config.Title}}</h1>
        <nav class="menu">
            <a aria-label="List of all feeds" href="/feeds">
                <svg stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="currentColor"><path d="M3 5H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 12H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 19H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </a>
        </nav>
    </header>

    <main>
        {{block "content" .}}{{end}}
    </main>

    <footer>
        <p>Made just for fun. This project is <a href="https://github.com/michaelenger/innbundet">open source</a>.</p>
        <p>Icons by <a href="https://iconoir.com/">Iconoir</a></p>
    </footer>
</body>

</html>
